.Test{
    background-color: #333321; /* Light grey matching table hover */
    color: #424242;           /* Dark grey text for contrast */
    border-radius: 5px;        /* Rounded corners */
    padding: 10px 15px;        /* Add padding for a larger click area */
    border: none;           
}
.Test h1 {
    font-size: 22px;
    color: #974797e0;

}